<div th:fragment="transactionsList(transactionsByDate)">
    <div th:classappend="${#maps.isEmpty(transactionsByDate)} ? '' : 'flex flex-col items-start gap-2 mb-6'"
        th:each="instance : ${transactionsByDate}">
        <div class="font-semibold text-lg mb-2" th:text="${instance.key}"></div>
        <div class="w-full flex justify-center">
            <div class="w-full max-w-6xl grid grid-cols-1 lg:grid-cols-2 gap-6 p-6">

                <div th:each="transaction : ${instance.value}">
                    <div th:fragment="transactionRow(transaction)" class="rounded-2xl bg-secondary dark:bg-darksecondary
                        border border-border/40
                        px-6 py-5
                        hover:shadow-md transition">

                        <div class="flex items-center gap-4">

                            <!-- Icon -->
                            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-primary/10">
                                <th:block th:replace="~{icons/category.html :: ${transaction.icon}}"></th:block>
                            </div>

                            <!-- Sub-category -->
                            <div class="flex-1">
                                <p class="font-medium text-base" th:text="${transaction.subCategory}">
                                </p>
                            </div>

                            <!-- Amount -->
                            <div class="text-right min-w-[120px]">
                                <p class="font-semibold text-lg" th:text="${transaction.amount}">
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div th:if="${#maps.isEmpty(transactionsByDate)}" class="flex flex-col gap-4 text-center justify-center">
        <p>No transactions found</p>
    </div>
</div>