<script>
    function selectCategory(el) {
        console.log(el);
        const svg = el.querySelector("svg");
        console.log(svg);
        document.getElementById("form-category").value = el.dataset.category;
        document.getElementById("form-category-icon").innerHTML = svg.outerHTML;
        document.getElementById("form-category-icon-value").value = el.dataset.icon;
        document.getElementById("categorySelection").innerHTML = '';
    }
    document.addEventListener('DOMContentLoaded', (event) => {
        const home = document.getElementById("home");
        const transactions = document.getElementById("transactions");
        home.classList.add("pressed");
        home.addEventListener("click", () => {
            home.classList.add("pressed");
            transactions.classList.remove("pressed");
        });
        transactions.addEventListener("click", () => {
            transactions.classList.add("pressed");
            home.classList.remove("pressed");
        });
    });
</script>