<div th:fragment="transactionFormEdit(transaction)"
    class="fixed inset-0 flex justify-center items-end md:items-end lg:items-center bg-secondary/90 dark:bg-darksecondary/90 z-[200]">
    <div class="border rounded-none md:rounded-none lg:rounded-2xl p-6 md:p-3 lg:p-6 pb-0 md:pb-0 lg:pb-0 w-full max-w-xl md:max-w-sm lg:max-w-xl
            bg-secondary dark:bg-darkformbg
            relative z-[201] shadow-xl md:text-sm lg:text-base md:mb-0">

        <!-- Header -->
        <div class="mb-6 md:mb-3 lg:mb-6">
            <h2 class="text-xl md:text-base lg:text-xl font-semibold">
                Edit Transaction
            </h2>
        </div>

        <form id="transactionForm" action="" hx-post="/editTransaction" hx-include="#myp-month, #myp-year"
            hx-target="#transactionsList" hx-swap="innerHTML" hx-on::after-request="
                if (event.detail.pathInfo.finalRequestPath === '/editTransaction') {
                    document.getElementById('transactionFormDiv').innerHTML = '';
                }
            ">
            <input type="hidden" name="id" th:value="${transaction.id}">
            <div class="grid grid-cols-2 gap-4 md:gap-2 lg:gap-4">

                <!-- Category -->
                <div class="col-span-2 flex gap-3 md:gap-1.5 lg:gap-3">
                    <div class="flex items-center border border-primary/40 rounded-lg w-full">
                        <input id="form-category-icon-value" th:value="${transaction.icon}" name="icon" type="hidden">
                        <span id="form-category-icon" class="w-12 md:w-6 lg:w-12 flex items-center justify-center">
                            <th:block th:replace="~{icons/category.html :: ${transaction.icon}}"></th:block>
                        </span>
                        <input id="form-category" name="category" type="text" placeholder="Category"
                            th:value="${transaction.category}" oninput="handleCategoryChange(this)" class="flex-1 p-3 md:p-1.5 lg:p-3 md:text-sm lg:text-base
                              bg-transparent
                              border-l border-primary/40
                              focus:outline-none
                              focus:border-primary
                              transition">
                    </div>
                    <button type="button" class="flex items-center justify-center
                               w-12 md:w-7 lg:w-12 rounded-lg
                               border border-primary/40
                               hover:border-primary
                               hover:bg-primary/10
                               transition" hx-get="/categories" hx-target="#categorySelection" hx-swap="innerHTML">
                        <th:block th:replace="~{icons/general.html :: general-select}"></th:block>
                    </button>
                </div>

                <!-- Sub category -->
                <div class="col-span-2 flex gap-3 md:gap-1.5 lg:gap-3">
                    <div class="flex items-center border border-primary/40 rounded-lg w-full">
                        <input id="form-subCategory-icon-value" type="hidden">
                        <span id="form-subCategory-icon" class="w-12 md:w-6 lg:w-12 flex items-center justify-center">
                            <th:block th:replace="~{icons/sub_category.html :: sub-category-others}"></th:block>
                        </span>
                        <input id="form-subCategory" name="subCategory" type="text" placeholder="Sub Category"
                            th:value="${transaction.subCategory}" class="flex-1 p-3 md:p-1.5 lg:p-3 md:text-sm lg:text-base
                              bg-transparent
                              border-l border-primary/40
                              focus:outline-none
                              focus:border-primary
                              transition">
                    </div>
                    <button type="button" class="flex items-center justify-center
                               w-12 md:w-7 lg:w-12 rounded-lg
                               border border-primary/40
                               hover:border-primary
                               hover:bg-primary/10
                               transition" hx-get="/subCategories" hx-include="#form-category"
                        hx-target="#subCategorySelection" hx-swap="innerHTML">
                        <th:block th:replace="~{icons/general.html :: general-select}"></th:block>
                    </button>
                </div>

                <!-- Amount -->
                <input name="amount" type="text" placeholder="Amount" th:value="${transaction.amount}" class="p-3 md:p-1.5 lg:p-3 md:text-sm lg:text-base rounded-lg
                          bg-transparent
                          border border-primary/40
                          focus:outline-none
                          focus:border-primary
                          focus:ring-2 focus:ring-primary/40
                          transition">

                <!-- Date -->
                <input name="date" type="date" th:min="${minDate}" th:max="${maxDate}" th:value="${transaction.date}"
                    class="p-3 md:p-1.5 lg:p-3 md:text-sm lg:text-base rounded-lg
                          bg-transparent
                          border border-primary/40
                          focus:outline-none
                          focus:border-primary
                          focus:ring-2 focus:ring-primary/40
                          transition">

                <!-- Description -->
                <input name="description" type="text" placeholder="Description" th:value="${transaction.description}"
                    class="col-span-2 p-3 md:p-1.5 lg:p-3 md:text-sm lg:text-base rounded-lg
                          bg-transparent
                          border border-primary/40
                          focus:outline-none
                          focus:border-primary
                          focus:ring-2 focus:ring-primary/40
                          transition">

            </div>
        </form>

        <!-- Action Bar -->
        <div class="mt-4 -mx-6 md:-mx-3 lg:-mx-6">
            <!-- Horizontal Divider -->
            <div class="border-t border-primary/40"></div>

            <div class="flex items-stretch">
                <!-- Confirm -->
                <button type="button" onclick="document.getElementById('transactionForm').requestSubmit()" class="flex-1 py-2 md:py-1.5 lg:py-2
                   flex items-center justify-center text-green-500
                   hover:bg-secondary/50 dark:hover:bg-darksecondary/50 transition">
                    <div class="w-8 lg:w-13">
                        <th:block th:replace="~{icons/general.html :: general-check}"></th:block>
                    </div>
                </button>

                <!-- Vertical Divider -->
                <div class="w-px bg-gray-400"></div>

                <!-- Cancel -->
                <button type="button" onclick="document.getElementById('transactionFormDiv').innerHTML = ''" class="flex-1 py-2 md:py-1.5 lg:py-2
                   flex items-center justify-center text-yellow-500
                   hover:bg-secondary/50 dark:hover:bg-darksecondary/50 transition">
                    <div class="w-8 lg:w-13">
                        <th:block th:replace="~{icons/general.html :: general-close}"></th:block>
                    </div>
                </button>
            </div>
        </div>

        <!-- Category overlay -->
        <div id="categorySelection"></div>
        <div id="subCategorySelection"></div>
    </div>
</div>