<div id="transactionsContent" class="flex flex-col gap-4 items-center">
    <div id="transactionFormDiv"></div>
    <div id="transactionsList"
        th:classappend="${#lists.isEmpty(transactions)} ? '' : 'flex flex-col gap-4 text-center justify-center w-full max-w-xl rounded-xl bg-secondary dark:bg-darksecondary p-6'"
        hx-on::after-swap="document.getElementById('transactionFormDiv').innerHTML = ''">
        <div th:each="transaction : ${transactions}">
            <th:block th:replace="~{fragments/transaction.html :: transactionRow(${transaction})}"></th:block>
        </div>
    </div>

    <div id="noTransactions" th:if="${#lists.isEmpty(transactions)}"
        class="flex flex-col gap-4 text-center justify-center">
        <p>No transactions found</p>
    </div>


    <div class="flex align-end">
        <button id="addTransactionButton" type="button" hx-get="/transactionForm" hx-target="#transactionFormDiv"
            hx-swap="innerHTML" class="fixed bottom-10 right-10 w-14 h-14 rounded-full
         bg-secondary hover:bg-secondary/80 dark:bg-darksecondary hover:dark:bg-darksecondary/80
         flex items-center justify-center
         transition duration-200 ease-in-out">
            <th:block th:replace="~{icons/general.html :: general-add}"></th:block>
        </button>
    </div>
</div>